.explore-container {
  width: 100%;
  height: 100vh;
}

.explore {
  display: flex;
  height: 100%;
  width: 100%;

  .left {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;

    .text_head {
      width: 100%;
      h1{
        font-family: 'Dancing Script', cursive;
      }
    }

    .info-card {
      margin-top: 2rem;
      padding: 1rem;
      border-radius: 20px;
      background-color: #f3f4f6;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

      .title {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        color: #000;
      }

      .description {
        margin-top: 1rem;
        text-align: center;

        .text {
          font-size: 1rem;
          font-weight: bold;
          font-style: italic;
          color: #000;
        }
      }

      .footer {
        text-align: center;
        font-weight: 600;
        color: #000;
        font-size: 1.25rem;
        margin-top: 1rem;
      }
    }
  }

  .right {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .explore {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .left, .right {
      width: 100%;
      padding: 1rem;
    }

    .right {
      .stack {
        width: 200px;
        max-width: 300px;
        aspect-ratio: 1 / 1;
      }
    }
  }
}
